.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right:150px;
    box-sizing: border-box;

    section{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
    }
}